<!--<suite name="RetryFailedTestSuite">-->

<!--    <listeners>-->
<!--        <listener class-name="TestNG.FromNaveen.Analyzer.MyTransformer"/>-->
<!--    </listeners>-->

<!--    <test name="RetryMultipleFailedTestCases" verbose="4">-->
<!--        <classes>-->
<!--            <class name="TestNG.FromNaveen.myTests.MyTest"/>-->
<!--        </classes>-->
<!--    </test>-->
<!--</suite>-->


<!--<suite name="OrangeHRM Suite">-->
<!--    <test name="OrangeHRM Test">-->
<!--        <parameter name="url" value="https://opensource-demo.orangehrmlive.com"/>-->
<!--        <parameter name="username" value="Admin"/>-->
<!--        <parameter name="password" value="admin123"/>-->
<!--        <classes>-->
<!--            <class name="TestNG.FromNaveen.ParameterTest"/>-->
<!--        </classes>-->
<!--    </test>-->
<!--</suite>-->


<!--<suite name = "suite">-->
<!--<groups>-->
<!--    <run>-->
<!--        <include name="Smoke"/>-->
<!--        <include name="Regression"/>-->
<!--    </run>-->
<!--</groups>-->
<!--<test name = "test">-->
<!--    <classes>-->
<!--        <class name="TestNG.TestCasesRegex"/>-->
<!--        <class name="TestNG.Groups"/>-->
<!--    </classes>-->
<!--</test>-->
<!--</suite>-->